<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube Scraper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_index.css') }}">
</head>
<body>
    <h1>YouTube Scraper</h1>
    <form action="/scrape" method="post">
        <label for="limit">Limit:</label><br>
        <input type="text" id="limit" name="limit"><br>
        <label for="proxies">Number of Proxies:</label><br>
        <input type="text" id="proxies" name="proxies"><br>
        <label for="query">Search Query:</label><br>
        <input type="text" id="query" name="query"><br>
        <button type="submit">Start Scraping</button>
    </form>
</body>
</html>
